.stage-wrapper.
  <svg id="stage" class="mask" xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" x="0" y="0" >
    <svg class="boot" viewBox="0 0 24 34" height="68" x="0" y="100" >
      <image width="24" height="34" xlink:href="/images/gumboot-logo.png" />
      <polygon id="boot-mask" points="0,0.924 13.019,0 11.927,22.93 18.478,27.969 22.93,28.053 24.189,31.161 15.287,33.765 1.596,33.933 2.772,24.777" />
    </svg>
    <svg class="title" viewBox="0 0 306 43" width="315" x="0" y="0"  >
      <path d="M27.693,1.099c-0.238,0.984-0.555,1.638-0.948,1.962s-0.9,0.486-1.521,0.486c-0.549,0-1.491-0.261-2.827-0.785 c-2.886-1.109-5.617-1.664-8.193-1.664c-4.127,0-7.525,1.104-10.197,3.312S0,9.249,0,12.304c0,1.542,0.358,25.246,0.445,31.03 h28.312l0.26-42.235H27.693z"/>
      <path d="M65.655,41.021c-0.286,0.146-0.62,0.22-1.002,0.22c-0.357,0-0.674-0.104-0.948-0.314c-0.274-0.209-0.471-0.622-0.59-1.24 c-0.12-0.617-0.179-2.296-0.179-5.037v-9.761c0-2.783-0.215-4.624-0.645-5.524c-0.668-1.381-1.705-2.396-3.112-3.044 c-1.861-0.857-4.246-1.287-7.156-1.287c-3.793,0-6.739,0.753-8.838,2.26c-2.099,1.506-3.148,3.16-3.148,4.959l-1.011,21.081h29.256 l0.271-4.603C67.122,39.986,66.156,40.75,65.655,41.021z"/>
      <path d="M122.224,43.015c-0.644-0.324-1.085-0.717-1.323-1.177c-0.311-0.669-0.466-1.904-0.466-3.704V25.768 c0-2.594-0.263-4.499-0.787-5.712c-0.787-1.778-1.854-3.06-3.202-3.845s-2.893-1.177-4.634-1.177c-1.788,0-3.53,0.392-5.224,1.177 s-3.769,2.433-6.226,4.943c-0.501-1.988-1.491-3.504-2.97-4.551c-1.479-1.046-3.244-1.569-5.295-1.569 c-1.217,0-2.445,0.22-3.686,0.659c-1.24,0.439-2.397,1.057-3.471,1.852c-0.43,0.314-1.837,1.517-4.222,3.609v-6.12h-1.539 l-9.875,3.515l0.509,24.784h53.463C122.859,43.254,122.497,43.152,122.224,43.015z"/>
      <path d="M155.785,18.424c-2.195-2.26-4.938-3.39-8.229-3.39c-1.885,0-3.68,0.507-5.385,1.522c-1.706,1.015-3.405,2.789-5.099,5.32 V15.16h-1.359l-10.09,3.578l-0.24,24.596h34.445V29.22C159.828,24.785,158.48,21.186,155.785,18.424z"/>
      <path d="M176.341,41.712c-0.299-0.585-0.447-1.778-0.447-3.578V0h-1.61l-9.768,3.516l0.589,39.818h13.656 c-0.428-0.073-0.791-0.165-1.042-0.288C177.098,42.743,176.639,42.298,176.341,41.712z"/>
      <path d="M209.598,18.188c-2.361-2.124-5.379-3.186-9.052-3.186c-4.342,0-7.949,1.376-10.824,4.127 c-2.874,2.751-4.311,6.586-4.311,11.503v12.701h27.354l0.375-16.624C213.14,23.153,211.959,20.312,209.598,18.188z"/>
      <path d="M227.023,15.881V6.434h-1.109c-0.979,2.114-1.741,3.568-2.29,4.363c-1.073,1.507-2.296,2.809-3.667,3.908 c-1.372,1.099-2.714,1.878-4.025,2.338l-0.665,26.291h19.413V15.881H227.023z"/>
      <path d="M265.844,19.993c-3.005-3.306-6.989-4.959-11.95-4.959c-2.72,0-5.296,0.623-7.729,1.867 c-2.433,1.245-4.396,3.17-5.886,5.775c-1.491,2.605-2.236,5.226-2.236,7.862v12.795h31.624l0.006-13.611 C269.673,26.061,268.396,22.818,265.844,19.993z"/>
      <path d="M305.291,43.062c-0.584-0.293-1.008-0.701-1.27-1.224c-0.335-0.648-0.501-1.883-0.501-3.704V25.862 c0-2.594-0.263-4.52-0.787-5.775c-0.764-1.799-1.789-3.091-3.077-3.876s-2.827-1.177-4.616-1.177c-3.482,0-7.144,2.03-10.984,6.089 v-6.089h-1.538l-9.875,3.515l0.509,24.784h33.085C305.853,43.264,305.522,43.177,305.291,43.062z"/>
    </svg>
  </svg>
section#login
  .content
    #logo.no-boot.
      Sampleton
    h1 Sampling made simple
    form(action="", method="post")
      - if ($formError)
        p.messenger
          span.error= $formError.message
      .field-wrapper
        input.field-user(name="email", placeholder="Your email", value=$email)

      .field-wrapper
        input.field-password(type="password", name="password", placeholder="Your password")

      input.btn-submit(type="submit")
  .link
    | Don't have an account?
    a(href="/register") Register