
section#login
  #logo.no-boot
    | Sampleton
  .content
    h1 Sampling made simple
    form(action="", method="post")
      - if ($formError)
        p.messenger
          span.message= $formError.message
      .field-wrapper
        - var $email = $email || 'demo'
        input.field-user(name="email", placeholder="Your email", value=$email)
      .field-wrapper
        input.field-password(type="password", name="password", placeholder="Your password", value="demo")

      input.btn-submit(type="submit", value="Sign in")

    //.link
    //  | Don't have an account?
    //  a(href="/register") Register

    .info(href="#") i

  .details
    h2 About Sampleton
    p.
      Sampleton is a Web App to streamline biological surveying. It is meant to be a fieldwork and lab companion,
      facilitatng data entry and providing instant feedback.
    p Sampleton is not yet released, but feel free to try out the demo by simply signing in.
    p.email
      a(href="mailto:hello@sampleton.net") hello@sampleton.net

    footer © 2012, Nicolas Gilbert

    .info i


