[submodule "public/js/src/plugins/underscore/underscore-keys"]
	path = public/js/src/plugins/underscore/underscore-keys
	url = git://github.com/chalbert/Underscore-Keys.git
[submodule "templates/css/stylus-mixins"]
	path = templates/css/stylus-mixins
	url = git://github.com/chalbert/Stylus-Mixins.git
[submodule "public/js/src/plugins/backbone/backbone-mixins"]
	path = public/js/src/plugins/backbone/backbone-mixins
	url = git://github.com/chalbert/Backbone-Mixins.git
[submodule "public/js/src/plugins/backbone/backbone-elements"]
	path = public/js/src/plugins/backbone/backbone-elements
	url = git://github.com/chalbert/Backbone-Elements.git
[submodule "public/js/src/plugins/backbone/backbone-multiviews"]
	path = public/js/src/plugins/backbone/backbone-multiviews
	url = git://github.com/chalbert/Backbone-Multiviews.git
[submodule "public/js/src/plugins/backbone/backbone-mediator"]
	path = public/js/src/plugins/backbone/backbone-mediator
	url = git://github.com/chalbert/Backbone-Mediator.git
[submodule "public/js/src/plugins/backbone/backbone-shortcuts"]
	path = public/js/src/plugins/backbone/backbone-shortcuts
	url = git://github.com/chalbert/Backbone-Shortcuts.git
[submodule "public/js/src/plugins/jquery/jquery-clickout"]
	path = public/js/src/plugins/jquery/jquery-clickout
	url = git://github.com/chalbert/jQuery-Clickout.git
[submodule "Backbone-Keyevents"]
	path = Backbone-Keyevents
	url = git://github.com/chalbert/Backbone-Keyevents.git
