.page-right-head
  input.field-new(placeholder="New project", type="text")

h1 Your projects

#list-projects.editing
  .list-default
  table.list-table.clickable
    tr
      td
        span(data-bind="text position")
      td.stretch
        span(data-bind="text title")
      td.date
        span(data-bind="text created_at_string")
        .edit-options
          a.btn-delete Delete
      td.edit
        a.btn-edit