input.field-new(placeholder="New project", type="text")

h1 Your projects

table#list-projects.list-table.clickable
  <tr><td data-bind="position"></td><td data-bind="title"></td><td data-bind="created_at_string"></td></tr>
