// Todo App Interface

#sampleton
  #logo Sampleton
  .content
    #create-item
      input#new-item(placeholder="What needs to be done?", type="text")
      span.ui-tooltip-top(style="display:none;") Press Enter to save this task
    #items
      ul#item-list
    #item-stats


// Templates
script#item-template(type="text/template")
  <div class="item">
  .display
    .item-title
  .lever
  .item-counter
  .edit
    input.item-input(type="text", "value"="")
  </div>