.project
  pos absolute 0
  z-index 100
  overflow auto
  padding 20px

  .btn-back
    float right
    margin 0 8px

.item-list
  margin-right -20px
  padding 0
  display block
  clear both
  margin-top 12px

  &.editing
    .display
      display none

  &:not(.editing)
    .edit
      display none
    .item
      cursor pointer

  .placeholder
    block 4px 140px
    float left
    background #444
    margin 0 2px 0 -8px

  li
    list-style none
    block 140px
    float left
    margin 0 12px 12px 0

    &.hidden
      display none


    .item
      position relative
      width 100%
      height 100%
      box-shadow 0 0 5px #888, inset 0 0 4px #fff
      border-radius 16px
      background linear-gradient(top, #eee, #ccc)
      user-select none

    .title, .field-title
      text-align center
      font-size 95%
      max-height 105px
      overflow hidden
      padding 5px 0 0 0
      border 0
      background transparent
      margin 0
      -webkit-appearance none
      width 100%
      line-height 1
      font-size 15px

    .field-title
      padding-top 1px
      background #fff693
      border-radius 16px 16px 0 0
      borders bottom 2px #c9c08f dashed

    .counter
      position absolute
      bottom 5px
      left 10px
      right 10px
      text-align center
      borders 3px #999 #000 #333 #555
      border-radius 2px
      color #fff
      font-family "Courier New", Courier, monospace
      font-size 120%
      background: linear-gradient(top, #222, #999, #999,  #555);
      margin-top 4px
      box-shadow 0 2px 2px #777

    .pressed .item-counter
      box-shadow none
      background: linear-gradient(top, #333, #888, #888,  #444);

    .btn-history
      pos absolute auto 0 0 0
      text-decoration underline
      font-size 14px
      colors #333
      borders top #c17c22
      text-decoration none
      background linear-gradient(top, #dcaa75,  #c47d30, #c9c08f)
      padding 6px 2px 6px 2px
      text-align center
      display block
      border-radius 0 0 16px 16px
      text-shadow 1px 1px 1px #f0daa2
      cursor pointer

  .item-sorting
    position fixed
    block 136px auto
    text-align center
    font-size 15px
    line-heigth 18px
    background #fff693
    padding 4px
    list-style none
    margin 0 12px
    //margin 75px 0 0 40px
    box-shadow 2px 2px 6px #666
    z-index 10000
    border-radius 16px

    .edit, .counter
      display none

    .display
      display block
    .item
      background transparent
      box-shadow none