.item-list-wrapper
  position relative

#new-item
  width 100%
  border #eee 1px solid
  font-size 14px
  text-align center
  margin-bottom 10px
  padding 3px 0
  border-radius 4px

#item-list
  margin-right -20px
  padding 0
  clearfix()

  li
    list-style none

    &.hidden
      display none

  .item
    position relative
    float left
    box-shadow 2px 2px 4px #eee
    border 2px #ccc solid
    width 140px
    height 140px
    margin 0 12px 12px 0
    border-radius 16px
    background: linear-gradient(top, #eee, #ccc);
    cursor pointer
    user-select none

  .item-title
    text-align center
    font-size 95%
    max-height 105px
    overflow hidden

  .item-counter
    position absolute
    bottom 5px
    left 10px
    right 10px
    text-align center
    border-width 3px
    border-color #999 #000 #333 #555
    color #fff
    font-family "Courier New", Courier, monospace
    font-size 120%
    background: linear-gradient(top, #222, #999, #999,  #555);
    border-style solid
    margin-top 4px
    border-radius 2px
    box-shadow 0 2px 2px #777

  .pressed .item-counter
    box-shadow none
    background: linear-gradient(top, #333, #888, #888,  #444);

  .edit
    display none

  .editing .edit
      display block

  .editing .display
      display none