.list-default
  padding 12px
  text-align center
  clear both
  borders top #ddd

.field-new
  size 100% 23px
  borders #ddd
  border-radius 4px
  font-size 14px
  text-align center
  margin-bottom 10px
  padding 0
  width 35%
  float right
  margin 0

.list-table
  width 100%
  font-size 13px
  margin 6px 0 0 0
  borders top #ddd

  tr
    borders bottom #ddd

  &.clickable
    tr
      &:hover
        background #f6f6f6
        cursor pointer

  td
    padding 6px 6px
    &:first-child
      background #fefcde
      border right #fefac8
      text-align center
    &:last-child
      width 100%
      text-align right
