.messenger
  position absolute
  left 50%
  top 25px
  width 400px
  margin-left (-@width / 2) + 30
  text-align center


  span
    display inline-block
    box-shadow 0 0 2px #00
    border-radius 4px
    padding 2px 6px
    font-size 12px
    &.error
      color #000
      borders #f99
      background #FFF693