.nav-top
  absolute right 8px top -10px
  background rgba(0, 0, 0, .65)
  borders left right bottom #888
  z-index 10000

  a
    type #fff 13px
    text-decoration none
    display block
    padding 4px 6px

  >li
    &:hover
      ul
        display block

  li.btn-user
    cursor pointer

    a
      padding-right 15px

    &:after
      content ''
      absolute right 5px top 9px
      block 0
      borders left right 3px transparent top 3px #666

    &:hover:after
      borders top 3px #ccc

  ul
    display block
    background rgba(255, 255, 255, .1)
    borders top #333
    display none
    box-shadow 1px 1px 5px #000

    a
      padding 3px 10px

      &:hover
        background rgba(255, 255, 255, .1)