.records
  position absolute
  top 100%
  background #fff
  bottom -10px
  left 8px
  right 8px
  border-radius 16px 16px 0 0
  border-width 8px 8px 0 8px
  border-color #333
  border-style solid
  z-index 100
  box-shadow 0 0 12px #666, inset 0 0 6px #999

  .list-record
    width 100%
    font-size 13px
    margin 6px 0 0 0
    border-top 1px #eee solid
    tr
      border-bottom 1px #eee solid
    td
      padding 6px 6px
      &:first-child
        background #fefcde
        border-right 1px #fefac8 solid
        text-align center
      &:last-child
        width 100%
        text-align right
