@import 'reset'
@import 'nib'
@import 'searchbox'
@import 'item-list'

body
  font-family "Lucida Sans Unicode", "Lucida Grande", sans-serif
  background #fef7ea url(../images/bg.gif)

#container
  position relative
  min-width 500px
  padding 10px 30px
  overflow hidden

#logo
  position relative
  z-index 10
  font 50px 'Fredericka the Great', cursive
  color #000
  background url(../images/gumboot-logo.png) 20px 0 no-repeat
  padding-left 53px
  height 70px
  margin-bottom -15px

.content
  background #fff
  padding 20px
  border-radius 20px
  border 2px #ccc solid

.messagebox
  &.hidden
    display none