@import 'reset'
@import 'nib'
@import 'mixins'
@import 'logo'
@import 'searchbox'
@import 'controls'
@import 'records'
@import 'list'
@import 'item-list'
@import 'project-list'
@import 'messenger'
@import 'nav-top'
@import 'templates'

a
  cursor pointer

menu, nav
  li
    list-style none
    margin 0

body, input
  font-family "Lucida Sans Unicode", "Lucida Grande", sans-serif

body
  background #7d6646 url(../images/bg-leather.jpg)

input, textarea, [contenteditable]
  &:focus
    box-shadow 0 0 5px #ffde00
    borders #ffcc00
    outline none
    outline-offset 0

h1[contenteditable], h1 [contenteditable]
  &:not(:focus):hover
    margin -1px
    borders #ddd dashed

.field-simple
  borders #ddd
  border-radius 4px
  font-size 14px
  margin-bottom 10px
  padding 0
  margin 0

.discrete
  padding 0 4px
  margin 0
  borders #ddd dashed
  -webkit-appearance: none;
  outline none

.field-invisible
  padding 0
  margin 0
  -webkit-appearance: none;
  outline none
  border 0
  border-spacing 0

#logo
  logo()

.messenger
  absolute left 50% top 25px
  width 400px
  margin-left (-@width / 2) + 30

#container
  pos absolute 0
  min-size 500px 388px
  padding 10px 30px
  box-shadow inset 0 0 10px #c0b28b
  overflow hidden

#sampleton
  position relative
  size 100% 100%

h1
  font-size $very-large
  size 40% 25px
  margin 0 0 8px 0

  &:focus
    margin -1px

.content
  pos absolute 54px 0 20px 0
  background #fff
  box-shadow inset 0 0 6px #99, 0 0 4px #666
  border-radius 10px
  border 8px #da9c39 solid
  z-index 10
  transition bottom .35s

  &.view-project
    pos absolute 54px 0 85px 0

  &:after
    content ''
    display block
    pos absolute -8px
    border-radius 10px
    box-shadow inset 0 0 10px #fff
    z-index 4
  &:before
    content ''
    display block
    pos absolute 0
    box-shadow 0 0 4px #c47d30
    z-index 5

.btn-back
  btn()
  padding 4px 10px 4px 25px

  &:after
    content ''
    absolute left 11px top 5px
    block 0
    borders top bottom 6px transparent right 6px #fff
    opacity .75

.btn-template
  btn()
  padding 4px 10px 4px 30px
  background-image url(/images/template.png)
  background-repeat no-repeat
  background-position 7px -1px
  background-size 23px 23px

.btn-delete
  padding 0 7px
  border-radius 10px
  background #c01a04
  box-shadow inset 0 0 5px #f0daa2, 0 0 3px #693f12
  cursor pointer
  type 12px #fff

  &:hover
    box-shadow inset 0 0 6px #fff, 0 0 3px #693

.btn-confirm
  padding 0 7px
  border-radius 10px
  background #0e8108
  box-shadow inset 0 0 5px #f0daa2, 0 0 3px #693f12
  cursor pointer
  type 12px #fff

  &:hover
    box-shadow inset 0 0 6px #fff, 0 0 3px #693

.ui-sortable-helper
  dragging()