

.nav-top
  absolute right 8px top -10px
  z-index 50

  //li:nth-child(n+2)
  //  borders left #666

  li
    borders left right bottom #666

  .active
    background #605e48
    box-shadow 0 0 10px #f7ee6c
    a
      color: #f7ee6c
      user-select none


  a
    type #fff 13px
    text-decoration none
    display block
    padding 4px 6px

    &:hover
      color #FFFAB3

  >li
    float left
    // borders left right bottom #666
    background rgba(0, 0, 0, .65)
    margin-left -1px
    &:hover
      ul
        display block

  li.btn-user
    cursor pointer

    a
      padding-right 15px

    // Creates arrow icon
    &:after
      content ''
      absolute right 5px top 9px
      block 0
      borders left right 3px transparent top 3px #666

    // Highlight arrow
    &:hover:after
      borders top 3px #ccc

  ul
    display block
    background rgba(255, 255, 255, .1)
    borders top #333
    display none
    box-shadow 1px 1px 5px #000

    a
      padding 3px 10px

      &:hover
        background rgba(255, 255, 255, .1)
