#sampleton
  #logo Sampleton
  .messenger
    span
  include searchbox
  .content
    .item-list-wrapper
      #create-item
        input#new-item(placeholder="New sample type", type="text")
      .messagebox.hidden
      #items
        ul#item-list
  include controls