#sampleton
  #logo Sampleton
  .content
    #create-item
      input#new-item(placeholder="What needs to be done?", type="text")
      span.ui-tooltip-top(style="display:none;") Press Enter to save this task
    #items
      ul#item-list
    #item-stats