#sampleton
  #logo Sampleton
  include searchbox
  .content
    .item-list-wrapper
      #create-item
        input#new-item(placeholder="New sample type", type="text")
        span.ui-tooltip-top(style="display:none;") Press Enter to save this task
      #items
        ul#item-list