!!! 5
//if lt IE 8
  <html class="no-js ie6 oldie" lang="en">
//if IE 7
  <html class="no-js ie7 oldie" lang="en">
//if IE 8
  <html class="no-js ie8 oldie" lang="en">
//if gt IE 8
  <!--> <html class="no-js" lang="en"> <!--
head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

  title=title
  meta(name="description", content="")
  meta(name="author", content="")
  meta(name="viewport", content="width=device-width,minimum-scale=1.0,maximum-scale=1.0")

  link(rel="icon", href="images/favicon.png")
  link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Fredericka+the+Great&text=Sampleton")
  link(rel="stylesheet", href="css/style.css")
  <!--[if !IE]>-->
  link(type="text/css", rel="stylesheet", media="only screen and (max-device-width: 480px)", href="css/mobile.css")
  <!--<![endif]-->

  //script(src="js/libs/vendor/modernizr/modernizr-2.0.6.min.js")
body

  #container
    header
    #main(role="main")!=body
    footer

  script(src="js/libs/vendor/require/require.js", data-main="js/app", data-order="js/require/order")
</html>