!!! 5
//if lt IE 8
  <html class="no-js ie6 oldie" lang="en">
//if IE 7
  <html class="no-js ie7 oldie" lang="en">
//if IE 8
  <html class="no-js ie8 oldie" lang="en">
//if gt IE 8
  <!--> <html class="no-js" lang="en"> <!--
head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

  title=title
  meta(name="description", content="")
  meta(name="author", content="")
  meta(name="viewport", content="width=device-width,initial-scale=1")

  link(rel="icon", href="images/favicon.png")
  // CSS concatenated and minified via ant build script
  //link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Fredericka+the+Great")
  link(rel="stylesheet", href="css/style.css")
  // end CSS

  script(src="js/libs/vendor/modernizr/modernizr-2.0.6.min.js")
  <script src="js/libs/vendor/require/require.js" data-main="js/app" data-order="js/require/order"></script>
body

  #container
    header
    #main(role="main")!=body
    footer
  //! end of #container

  // end scripts

  //if lt IE 7
    script(src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js")
    script
      window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})
</html>